@import '../../../root-style.scss';

.nav-bar{
    .header{
        background-color: #ffffff;
        height:70px;
      }
      .header-logo{
        margin-top: 1%;;
        margin-left: 40%;
        width: 200px;
      }
}