
// colors
$white: #ffffff;
$skyblue: #41b3c4;
$lightgray: #cccccc;
$formShadow: 0 3px 6px 0 rgba(255, 255, 255, 0.16);
$borderRadius: 10px;
$gray: #919191;
$darkgray: #616161;
$black: #333333;
$lightblack: #535461;
$red: #e85757;
$fb-blue: #3b5998;
$google-red: #e80029;
$black2: #43425d;
$bg-gray: #f0f0f7;
$pale-gray: #f0f0f7;
$dusk-two: #43425d;
$pale-gray-two: #f7f8fa;
$pinkish-gray: #cccccc;
$warm-gray: #919191;
$greeny-blue: #41b3c4;
$brownish-gray: #616161;
$light-green: green;
$darkish-gray: #4d4f5c;
$pale-pinkish-gray: #efefef;
$pale-gray-three: #f5f6fa;
$white-two: #fafafa;
$cool-gray: #a3a6b4;
$gunmetal: #4d4f5c;
$light-gray-blue: #9ebed9;

// font
$font13: 13px;
$font14: 14px;
$font16: 16px;
$font24: 24px;
$font18: 18px;

// font family
$roboto: Roboto;

html {
    scroll-behavior: smooth;
  }